/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 760px) {
	.home_page_section_shakazz_jumbotron{
		width:22em !important;
		margin-top:1em !important;
	}
	.home_page_section_presentation{
		height:57em !important;
	}
	.home_page_section_whyus{
		height:45em;
	}
	.home_page_section_market{
		height:52em;
		width:100%;
		padding-left:2em !important;
	}
	.home_page_section_market_card{
		margin:auto;
		width:20em !important;
	}
	.home_page_section_market_carddeck{
		width:20em !important;
	}
	.home_page_section_plans{
		height:90em !important;
		margin-top:2em;
		height:30em;
		padding-left:2em !important;
		width:100%;
	}
	.home_page_section_trust{
		height:35em;
		width:100%;
		margin:auto;
		margin-top:10em;
		padding-top:2em !important;
		padding-left:2em !important;
	}
	/* .home_page_section_started{
		height:24em;
		width:100%;
	} */
	/* .home_page_section_started_jumbotron{
		height:24em;
		width:100%;
	} */
	.home_page_footer_first{
		padding-left:0 !important;
		display:block;
		height:25em !important;
	}
	.home_page_footer_first ul{
		width:100%;
	}
	.aboutus_page_section_presentation{
		padding:1em;
		height:30em;
	}
	.aboutus_page_section_mission{
		padding:1em;
		height:30em;
	}
	.aboutus_page_section_vision{
		padding:1em;
		height:30em;
		margin-top:25em;
	}
	.services_page_section_partenaires .carousel-control-next-icon:after
		{
		  display:none;
		}
		.services_page_section_partenaires .carousel-control-prev-icon:after {
		  display:none;
		}
	.services_page_section_presentation{
		height:60em !important;
		width:24em !important;
		margin:auto !important;
		padding:1em !important;
	}
	.services_page_section_presentation_jombotron{
		height:20em;
	}
	.services_page_section_presentation_caroussel{
		height:50em !important;
	}
	.services_page_section_presentation_caroussel_row{
		display:flex !important;
		flex-direction: column-reverse !important;
		display:block !important;
	}
	.services_page_section_presentation_col_card {
		width:18em;
		margin-top:1em !important;
		margin:auto;
	}
	.services_page_section_presentation_jombotron{
		width:20em;
	}
	.services_page_section_networking{
		height:80em !important;
		margin-top:20em;
	}
	.services_page_section_networking_caroussel{
		height:55em !important;
	}
	.services_page_section_networking_caroussel_row{
		display:flex !important;
		flex-direction: column-reverse !important;
		display:block !important;
	}
	.services_page_section_networking_jombotron{
		width:20em;
	}
	.services_page_section_partenaires{
		height:50em !important;
	}
	/* .services_page_section_partenaires_row{
		display:flex !important;
		flex-direction: column-reverse !important;
		display:block !important;
	} */
	.services_page_section_partenaires_col_card {
		width:18em;
		margin-top:1em !important;
		margin:auto;
	}
	.services_page_section_partenaires_caroussel{
		height:35em;
	}
	.services_page_section_image_text{
		bottom:0em !important;
		top:6em;
	}
	.home_page_footer_first{
		display:flex !important;
		flex-direction: column-reverse !important;
		display:block !important;
	}

	.home_page_footer_first{
		padding-left:1em !important;
		padding-right:1em !important;
	}
	.home_page_footer_last{
		padding-left:1em !important;
		padding-right:1em !important;
	}
	.home_page_footer{
		color:white !important;
		height:15em !important;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	.home_page_section_plans{
		width:100%;
		height:35em;
	}
	.home_page_section_whyus{
		width:100%;
		padding-left:2em !important;
		padding-right:2em !important;
	}
	.home_page_section_presentation{
		height:40em;
	}
	.home_page_section_shakazz_jumbotron{
		width:40em;
	}
	.aboutus_page_section_presentation{
		height:53em;
	}
	.aboutus_page_section_team{
		height:40em;
	}
	.plans_page_section_plan{
		width:99%;
	}
	.plans_page_section_image{
		height:40em;
	}
	.services_page_section_presentation{
		height:70em;
	}
	.services_page_section_presentation_caroussel{
		height:50em;
	}
	.services_page_section_presentation_caroussel img{
		max-width:300px;
	}
	.services_page_section_networking{
		height:80em;
		width:100%;
	}
	.services_page_section_networking_caroussel{
		height:60em;
	}
	.services_page_section_networking_caroussel img{
		max-width:300px;
	}
	/* .services_page_section_partenaires_row{
		width:85% !important;
		height:20em !important;
	} */
	.services_page_section_partenaires .carousel-control-next-icon:after
		{
		  margin-left:1em;
		}

		.services_page_section_partenaires .carousel-control-prev-icon:after {
		  margin-right:10em;
		}
	/* .services_page_section_partenaires_row{
		width:100% !important;
	} */
	.services_page_section_partenaires .carousel-control-next-icon:after
	{
	  display:none;
	}

	.services_page_section_partenaires .carousel-control-prev-icon:after {
		display:none;
	  }
	 /* .services_page_section_partenaires_row_image{
		position:relative;
		width:10em;
		height:8em;
		margin-top:-6em;
		cursor:pointer;
	} */
	.services_page_section_networking{
		height:55em;
	}
	.services_page_section_networking_caroussel{
		height:36em;
	}
	.services_page_section_presentation{
		height:55em !important;
	}
	.services_page_section_presentation_caroussel{
		height:36em;
	}
	.services_page_section_image_text{
		bottom:10em !important;
	}
	.home_page_footer_first{
		height:37em !important;
		padding-left:1em !important;
		padding-right:6em !important;
		padding-top:3em !important;
		display:flex;
		justify-content:space-between;
	}
	.home_page_footer_first_last{
		height:30em !important;
		padding-left:1em !important;
		padding-right:6em !important;
		padding-top:3em !important;
		display:flex;
		justify-content:space-between;
		text-align:center;
	}
	.home_page_footer_first ul {
	  list-style-type: none;
	  margin-top: 2em;
	}
	.home_page_footer_first li {
	  float: left !important;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.home_page_section_trust{
		margin-top:20em;
	}
	/* .services_page_section_partenaires_row{
		width:100% !important;
	}  */
	.services_page_section_partenaires .carousel-control-next-icon:after
	{
	  display:none;
	}
	.services_page_section_partenaires .carousel-control-prev-icon:after {
	  display:none;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}